.navbar_stable {
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1000;
    background-color: black;
}

.about_heading{
    margin-top: 130px;
    width: 50%;
    margin-right: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_heading > a{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: 2px solid #ea002a;
}
.about_heading > h3{
    font-weight: bold;
}

.about_main_container{
    background-color: #1c1816;
    border-radius: 5px;
    height: 300px;
    width: 85%;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about_main_subcontainer_first{
    width: 55%;
    height: 100%;
    padding-left: 10px;
    padding-top: 15px;
}
.about_main_subcontainer_second{
    width: 45%;
    height: 100%;
    background-color: #ea002a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 40px 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
}

/* about_second_container section starts */
.about_second_container{
    height: 600px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.about_second_subcontainer_top{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.second_subcontainer_main{
    flex: 1;
    height: 100%;
    background-color: #1c1816;
    border-radius: 5px;
}
.about_second_subcontainer_bottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}